#divroller_container {
			width:300px;
			border:solid red 1px;
			height:auto;
		}
		
		/*
		.box_dark {
					background-color: #dfdfdf;
				}
				.box_light {
					background-color: #ffffff;
				}
				
				.box_size {
					padding:10px;
				}
				
				.external_link{
					color: green;
					font-size:20px;
				}*/
		
		
.name{
	
}
.prod{
	
}
.start_time{
	
}
